// Material Design 3 palette
$primary: #FFB4A1;
$secondary: #e7bdb3;
$tertiary: #ffb690;
$error: #ffb4ab;
$success: #b32b00;
$info: #77574e;
$body-bg: #201a19;
$bg-dark: #2b2220;
$bg-input: #292221;
$text-on-surface: #ede0dd;
$text-on-surface-alt: #d8c2bc;
$text-on-tertiary: #552100;
$surface-alt: #53433f;