$grey-dark: $text-on-surface;
$beige-light: $primary;
$beige-lighter: $tertiary;
$grey-light: $primary;

$text: $text-on-surface;
$text-strong: $text-on-surface;
$text-invert: $text-on-surface;
$text-light: $text-on-surface-alt;
$link-hover: $text-light;
$link-focus: $text-on-surface;
$link-active: $text-on-surface;
$link: $primary;

$background: $bg-dark;
$body-background-color: $body-bg;
$modal-card-body-background-color: $bg-dark;
$box-background-color: $bg-dark;

$aside-background-color: $body-bg;
$aside-tools-background-color: $body-bg;
$aside-border-color: $surface-alt;

$input-background-color: $bg-input;
$input-border-color: $secondary;
$input-placeholder-color: $text-light;

$button-background-color: rgba(0, 0, 0, 0.0);
$button-border-color: $secondary;
$button-hover-color: $text-light;
$button-disabled-background-color: $surface-alt;

$tabs-toggle-link-border-color: $secondary;

$code-background-color: $surface-alt;
$code: $text-on-surface-alt;

$table-background-color: $bg-dark;
$table-head-cell-color: $text-on-surface;
$table-cell-border: 1px solid $surface-alt;

$menu-item-active-color: $text-on-tertiary;
$menu-item-hover-color: $text-light;

$navbar-background-color: $body-bg;
$navbar-item-hover-background-color: $body-bg;
$navbar-item-hover-color: $link-hover;
$navbar-dropdown-background-color: $bg-dark;
$navbar-dropdown-item-hover-color: $link-hover;
$navbar-dropdown-item-hover-background-color: lighten($body-bg, 10%);
$navbar-box-shadow-color: $surface-alt;

$card-background-color: $bg-dark;
$card-footer-border-top: 1px solid $surface-alt;

$pagination-hover-color: $text-light;
$pagination-border-color: $secondary;
$pagination-disabled-background-color: $surface-alt;