$family-sans-serif: "IBM Plex Sans", sans-serif;
$family-secondary: "Plus Jakarta Sans", sans-serif;

@font-face {
    font-family: "IBM Plex Sans";
    src: url("fonts/plex/IBMPlexSans-Regular.woff2") format("woff2"),
        url("fonts/plex/IBMPlexSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("fonts/plex/IBMPlexSans-Bold.woff2") format("woff2"),
        url("fonts/plex/IBMPlexSans-Bold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("fonts/plex/IBMPlexSans-Italic.woff2") format("woff2"),
        url("fonts/plex/IBMPlexSans-Italic.woff") format("woff");
    font-style: italic;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("fonts/plex/IBMPlexSans-BoldItalic.woff2") format("woff2"),
        url("fonts/plex/IBMPlexSans-BoldItalic.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("fonts/pjs/PlusJakartaSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("fonts/pjs/PlusJakartaSans-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("fonts/pjs/PlusJakartaSans-Italic.ttf") format("truetype");
    font-style: italic;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("fonts/pjs/PlusJakartaSans-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
.button,
.label,
.pagination,
.recordkeeper-brand {
    font-family: "Plus Jakarta Sans", sans-serif;
}