.recordkeeper-task-modal {
    $modal-content-width: 930px;
    width: $modal-content-width;
}

.recordkeeper-task-name {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}